:root {
  --white: #fffdef;
  --bg: #fffdf8;
  --black: #101010;
  --wine-red: #5c0511;
  --orange: #d30330;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-rows: 10vh 83vh 7vh;
  grid-template-areas: "header" "content" "footer'";
}
